ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.navbar-right {
  float: right
}

.navbar-right, li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li .active {
  background-color: #4CAF50;
}

.modal-content {
  margin: 5% auto 15% auto;
  width: 50%;
}

select, input.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.logout-btn {
  margin-left: 20px;
}

.form-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-btn:hover {
  opacity: 0.8;
}

h3 {
  text-align: center;
}

.card {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid rgba(167, 167, 167, 0.5);
}

.dashboard-card, .poll-card {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid rgba(167, 167, 167, 0.5);
}

.card-flex {
  display: flex;
}

.avatar {
  width: 30%;
  border-radius: 50%;
  margin: 20px;
  height: fit-content;
}

.userInfo {
  margin-left: 30px;
  padding-left: 20px;
  border-left: 1px solid rgba(167, 167, 167, 0.5);
}

.leader-title, .score-title {
  font-weight: bold;
  margin: 0;
  font-size: 150%;
}

.score-title {
  padding-top: 20px;
}

.score-card {
  display: inline-block;
  padding: 13px 20px;
  margin-left: 10px;
  background-color: rgba(167, 167, 167, 0.5);
  border-radius: 50%;
}

.question-info {
  font-size: 3vh;
}

.error-page {
  font-size: 5vh;
  text-align: center;
}

.four-of-four {
  color: rgb(197, 5, 5);
}

.error-btn {
  background-color: white;
  color: black;
  border: 2px solid rgb(197, 5, 5);
  padding: 10px;
}

.error-btn:hover {
  background-color: rgb(197, 5, 5);
  cursor: pointer;
  color: white;
}

.dashboard-btns button {
  border: none;
  background-color: white;
  padding: 15px;
}

.answered-active, .unanswered-active {
  background-color: rgb(196, 196, 255) !important
}

.dashboard-btns {
  text-align: center;
  margin-top: 5px;
}

#progressbar {
  background-color: rgb(109, 109, 109);
  padding: 3px;
}

#progressbar>div {
  background-color: rgb(89, 153, 238);
  height: 20px;
}

.youVoted {
  background-color: rgb(243, 183, 183);
  padding: 5px;
}